<mat-dialog-content>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/3 my-3 flex flex-col justify-center items-center md:items-start md:mr-4">
      <img src="{{ data.company.logo }}" width="250px"/>
    </div>
    <div class="md:w-2/3 my-3 flex flex-col justify-center md:items-start">
      <p class="text-2xl font-bold mb-2 text-black">{{ data.company.name }}</p>
      <p class="text-black">{{ data.company.description }}</p>
      <div class="mt-2 star-rating text-sm">
        <mat-icon class="star-filled" *ngFor="let _ of getStars(data.company.averageRating)">star</mat-icon>
        <mat-icon class="star-empty" *ngFor="let _ of getEmptyStars(data.company.averageRating)">star</mat-icon>
      </div>
    </div>
  </div>

  <hr class="my-6 border-t-2 border-gray-200">

  <div class="flex flex-col">
    <p class="font-bold mb-4 text-black">Detalles de la empresa</p>

    <div class="flex justify-between mb-2">
      <p class="text-gray-500">Teléfono</p>
      <p class="ml-2 text-black">{{ data.company.phoneNumber }}</p>
    </div>

    <div class="flex justify-between mb-2">
      <p class="text-gray-500">Ubicación</p>
      <p class="ml-2 text-black">{{ data.company.direction }}</p>
    </div>

    <div class="flex justify-between mb-2">
      <p class="text-gray-500">Servicios que ofrece</p>
      <div class="ml-2">
        <p *ngFor="let servicio of data.company.servicios" class=" text-black">{{ servicio.name }}, </p>
      </div>
    </div>
  </div>

  <hr class="my-6 border-t-2 border-gray-200">

  <div class="flex flex-col">
    <p class="font-bold my-4 text-black">Detalles de la reserva</p>

    <form id="myForm" action="" method="post" (submit)="onSubmit()">
      <mat-form-field class="w-5/6" color="accent">
        <mat-label for="originAddress">Dirección de origen</mat-label>
        <input matInput id="originAddress" name="originAddress" [(ngModel)]="reservation.originAddress" required>
      </mat-form-field>

      <mat-form-field class="w-5/6" color="accent">
        <mat-label for="destinationAddress">Dirección de destino</mat-label>
        <input matInput id="destinationAddress" name="destinationAddress" [(ngModel)]="reservation.destinationAddress" required>
      </mat-form-field>

      <div class="flex justify-between mb-4">
        <mat-form-field class="w-1/2" color="accent">
          <mat-label for="startDate">Fecha</mat-label>
          <input matInput id="startDate" name="startDate" [matDatepicker]="picker" [(ngModel)]="reservation.startDate" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-1/2" color="accent">
          <mat-label for="startTime">Hora</mat-label>
          <input matInput id="startTime" name="startTime" type="time" [(ngModel)]="reservation.startTime" required>
        </mat-form-field>
      </div>

      <div>
        <p class="font-bold my-4">Selecciona los servicios a reservar</p>
        <div class="flex flex-col md:flex-row justify-center mb-3 md:gap-8">
          <div class="flex items-baseline" *ngFor="let servicio of data.company.servicios">
            <input type="checkbox" class="mr-2 cursor-pointer" [value]="servicio.name" [id]="servicio.name" name="services" [(ngModel)]="selectedServices[servicio.name]" />
            <label [for]="servicio.name">{{ servicio.name }}</label>
          </div>
        </div>
      </div>

      <div class="flex justify-between">
        <button class="text-black bg-amber-500 hover:bg-amber-300 font-medium rounded py-2.5 text-center md:w-1/3 px-4" type="submit">
          Reservar
        </button>
        <button class="text-black bg-gray-300 hover:bg-gray-200 font-medium rounded py-2.5 text-center md:w-1/3 px-4" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </form>

  </div>
</mat-dialog-content>

<!--
<br><br><br>

<div class="container-title">
<h1 class="title">Información de empresa</h1>
<button mat-raised-button (click)="ReturnToCompanyTable()" class="return">Regresar</button>
</div>

<mat-card class="custom-card">
  <img mat-card-image src="{{company.photo}}" alt="Logo Company">
  <mat-card-header>
    <mat-card-title>{{company.name}}</mat-card-title>
    <mat-card-subtitle>Empresa</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <div>
      <p class="label">Descripción: </p>
      <p class="value">{{company.description}}</p>
    </div>
    <div>
      <p class="label">Servicios: </p>
      <ul>
        <li class="value" *ngIf="company.transporte">Transporte</li>
        <li class="value" *ngIf="company.carga">Carga</li>
        <li class="value" *ngIf="company.embalaje">Embalaje</li>
        <li class="value" *ngIf="company.montaje">Montaje</li>
        <li class="value" *ngIf="company.desmontaje">Desmontaje</li>
      </ul>
    </div>
    <div>
      <p class="label">Dirección: </p>
      <p class="value">{{company.direccion}}</p>
    </div>
    <div>
      <p class="label">Número de contacto: </p>
      <p class="value">{{company.numeroContacto}}</p>
    </div>
  </mat-card-content>
</mat-card>

<div class="section-container">
  <div class="panel-container">
    <section class="reviews">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reseñas
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="average-rating">
          <h2>Calificación general</h2>
          <div class="rating-container">
            <div class="star-rating">
              <mat-icon *ngFor="let _ of getStars(averageRating)">star</mat-icon>
            </div>
          </div>
          <div class="company-logo-container">
            <img src="{{company.photo}}" alt="logo de empresa" class="company-logo">
          </div>
        </div>

        <div *ngFor="let review of reviews" class="review">

          <div class="rating-container">
            <div class="star-rating">
              <mat-icon *ngFor="let _ of getStars(review.rating)">star</mat-icon>
            </div>
          </div>

          <p>{{ review.comment }}</p>
        </div>

        <div *ngIf="reviews.length === 0" class="review">
          <p>Actualmente, no hay reseñas disponibles para esta empresa. Sé el primero en compartir tu experiencia.</p>
        </div>

      </mat-expansion-panel>
    </section>
  </div>

  <div class="panel-container">
    <section class="custom-addReservation">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Reservar
          </mat-panel-title>
        </mat-expansion-panel-header>

        <form (ngSubmit)="onSubmit()" #reservationForm="ngForm">
          <div class="reservation-info">
            <mat-label>Fecha de hoy:</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="Ex. 2023-09-25" required [(ngModel)]="reservation.bookingDate" name="bookingData">
            </mat-form-field>

            <mat-label>Servicios:</mat-label>
            <mat-form-field>

              <input type="text" matInput placeholder="Ex. Carga" required [(ngModel)]="reservation.services" name="services">
            </mat-form-field>

            <mat-label>Dirección de entrega:</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="Ex. Monterrico" required [(ngModel)]="reservation.pickupAddress" name="pickupAddress">
            </mat-form-field>

            <mat-label>Dirección de destino:</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="Ex. Monterrico" required [(ngModel)]="reservation.destinationAddress" name="destinationAddress">
            </mat-form-field>

            <mat-label>Fecha cuando el servicio se lleva a cabo:</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="Ex. 2023-09-30" required [(ngModel)]="reservation.movingDate" name="movingDate">
            </mat-form-field>

            <mat-label>Hora cuando el servicio se lleva a cabo:</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="Ex. 16:00" required [(ngModel)]="reservation.movingTime" name="movingTime">
            </mat-form-field>

            <br>
            <mat-label>Número de tarjeta de pago:</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="Ex. 0000000000000000" required [(ngModel)]="numeroTarjeta" name="numeroTarjeta">
            </mat-form-field>

            <mat-label>CVV de la tarjeta de pago</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="000" required [(ngModel)]="CVV" name="CVV">
            </mat-form-field>

            <mat-label>Fecha de vencimiento de la tarjeta:</mat-label>
            <mat-form-field>
              <input type="text" matInput placeholder="00/00" required [(ngModel)]="fechaVencimiento" name="fechaVencimiento">
            </mat-form-field>

            <ng-container>
              <button type="submit">Realizar reserva</button>
            </ng-container>
          </div>
        </form>

      </mat-expansion-panel>
    </section>
  </div>
</div>
-->

