<mat-dialog-content>
  <div class="flex flex-col md:flex-row">
    <div class="md:w-1/3 my-3 flex flex-col justify-center items-center md:items-start md:mr-4">
      <img src="{{ data.company.logo }}" width="250px"/>
    </div>
    <div class="md:w-2/3 my-3 flex flex-col justify-center md:items-start">
      <p class="text-2xl font-bold mb-2 text-black">{{ data.company.name }}</p>
      <p class="text-black">{{ data.company.description }}</p>
      <div class="mt-2 star-rating text-sm">
        <mat-icon class="star-filled" *ngFor="let _ of getStars(data.company.averageRating)">star</mat-icon>
        <mat-icon class="star-empty" *ngFor="let _ of getEmptyStars(data.company.averageRating)">star</mat-icon>
      </div>
    </div>
  </div>

  <hr class="my-6 border-t-2 border-gray-200">

  <div class="flex flex-col">
    <p class="font-bold mb-4 text-black">Detalles de la empresa</p>

    <div class="flex justify-between mb-2">
      <p class="text-gray-500">Teléfono</p>
      <p class="ml-2 text-black">{{ data.company.phoneNumber }}</p>
    </div>

    <div class="flex justify-between mb-2">
      <p class="text-gray-500">Ubicación</p>
      <p class="ml-2 text-black">{{ data.company.direction }}</p>
    </div>

    <div class="flex justify-between mb-2">
      <p class="text-gray-500">Servicios que ofrece</p>
      <div class="ml-2">
        <p *ngFor="let servicio of data.company.servicios" class=" text-black">{{ servicio.name }}, </p>
      </div>
    </div>
  </div>

  <hr class="my-6 border-t-2 border-gray-200">

  <div class="flex flex-col">
    <p class="font-bold my-4 text-black">Detalles de la reserva</p>

    <form id="myForm" action="" method="post" (submit)="onSubmit()">

      <p class="font-semibold">Direccion de origen</p>
      <div class="flex space-x-4 m-2">
        <!-- Primera casilla desplegable -->
        <div class="w-1/4">
          <label for="region_origen" class="block text-sm font-medium">Region</label>
          <select id="region_origen" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          (change)="onRegionChangeOrigin($event.target)">
            <option value=""></option>
            <option *ngFor="let option of departamentosOrigin" [value]="option">{{ option }}</option>
          </select>
        </div>
      
        <!-- Segunda casilla desplegable -->
        <div class="w-1/4">
          <label for="provincia_origen" class="block text-sm font-medium">Provincia</label>
          <select id="provincia_origen" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          (change)="onProvinceChangeOrigin($event.target)" [disabled]="!selectedRegionOrigin">
            <option value=""></option>
            <option *ngFor="let option of provincesOrigin" [value]="option">{{ option }}</option>
          </select>
        </div>
      
        <!-- Tercera casilla desplegable -->
        <div class="w-1/4">
          <label for="distrito_origen" class="block text-sm font-medium">Distrito</label>
          <select [(ngModel)]="reservation.ubigeoOrigin" name="ubigeoOrigin" id="distrito_origen" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [disabled]="!selectedProvinceOrigin">
          <option value=""></option>
            <option *ngFor="let ubigeo of districtsOrigin" [value]="ubigeo.id">{{ ubigeo.distrito }}</option>
          </select>
        </div>    

        <mat-form-field class="w-1/4" color="accent">
          <mat-label for="originAddress">Dirección de origen</mat-label>
          <input matInput id="originAddress" name="originAddress" [(ngModel)]="reservation.originAddress" required>
        </mat-form-field>
      </div>  

      <p class="font-semibold">Direccion de destino</p>
      <div class="flex space-x-4 m-2">
        <!-- Primera casilla desplegable -->
        <div class="w-1/4">
          <label for="region_destino" class="block text-sm font-medium text-gray-700">Region</label>
          <select id="region_destino" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          (change)="onRegionChangeDestination($event.target)">
            <option value=""></option>
            <option *ngFor="let option of departamentosDestination" [value]="option">{{ option }}</option>
          </select>
        </div>
      
        <!-- Segunda casilla desplegable -->
        <div class="w-1/4">
          <label for="provincia_destino" class="block text-sm font-medium text-gray-700">Provincia</label>
          <select id="provincia_destino" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          (change)="onProvinceChangeDestination($event.target)" [disabled]="!selectedRegionDestination">
            <option value=""></option>
            <option *ngFor="let option of provincesDestination" [value]="option">{{ option }}</option>
          </select>
        </div>
      
        <!-- Tercera casilla desplegable IMPORTANTÍSIMO PONER EL NAME, si no no captura el valor -->
        <div class="w-1/4">
          <label for="distrito_destino" class="block text-sm font-medium text-gray-700">Distrito</label>
          <select id="distrito_destino" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
          [disabled]="!selectedProvinceDestination" [(ngModel)]="reservation.ubigeoDestination" name="ubigeoDestination">
            <option value=""></option>
            <option *ngFor="let option of districtsDestination" [value]="option.id">{{ option.distrito }}</option>
          </select>
        </div>

        <mat-form-field class="w-1/4" color="accent">
          <mat-label for="destinationAddress">Dirección de destino</mat-label>
          <input matInput id="destinationAddress" name="destinationAddress" [(ngModel)]="reservation.destinationAddress" required>
        </mat-form-field>
      
      </div>

      

      <div class="flex justify-between mb-4">
        <mat-form-field class="w-1/2" color="accent">
          <mat-label for="startDate">Fecha</mat-label>
          <input matInput id="startDate" name="startDate" [matDatepicker]="picker" [(ngModel)]="reservation.startDate" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="w-1/2" color="accent">
          <mat-label for="startTime">Hora</mat-label>
          <input matInput id="startTime" name="startTime" type="time" [(ngModel)]="reservation.startTime" required>
        </mat-form-field>
      </div>

      <div>
        <p class="font-bold my-4">Selecciona los servicios a reservar</p>
        <div class="flex flex-col md:flex-row justify-center mb-3 md:gap-8">
          <div class="flex items-baseline" *ngFor="let servicio of data.company.servicios">
            <input type="checkbox" class="mr-2 cursor-pointer" [value]="servicio.name" [id]="servicio.name" name="services" [(ngModel)]="selectedServices[servicio.name]" />
            <label [for]="servicio.name">{{ servicio.name }}</label>
          </div>
        </div>
      </div>

      <div class="flex justify-between">
        <button class="text-black bg-amber-500 hover:bg-amber-300 font-medium rounded py-2.5 text-center md:w-1/3 px-4" type="submit">
          Reservar
        </button>
        <button class="text-black bg-gray-300 hover:bg-gray-200 font-medium rounded py-2.5 text-center md:w-1/3 px-4" (click)="cancel()">
          Cancelar
        </button>
      </div>
    </form>

  </div>
</mat-dialog-content>
