<div class="min-h-screen flex flex-col py-10 justify-center mx-auto container max-w-screen-xl">
    <h1 class="text-center text-black text-4xl font-bold mt-5 mb-4">
        ¡Hola, {{userFullName}}!
    </h1>

    <div class="my-12 bg-[#232323] rounded-3xl">
        <div class="p-6 md:px-20">
            <div class="flex">
                <div class="md:w-1/2 my-3 flex flex-col justify-center md:items-start">
                    <h1 class="text-3xl font-semibold text-amber-400  text-center md:text-left">Carga Rápida</h1>
                    <p class="py-4 mb-4 text-white">
                        ¿Necesitas contratar un servicio de carga para hoy? Pulsa el botón y las empresas disponibles
                        responderán a tu solicitud.
                    </p>
                    <button (click)="openDialog()"
                            class="text-black bg-amber-500 hover:bg-amber-300 font-medium rounded py-2.5 text-center md:w-1/2 px-4">
                        Solicitar carga rápida
                    </button>
                </div>

                <div class="md:w-1/2 hidden md:block">
                    <img src="assets/public-images/truck.svg" alt="truck" class="object-center mx-auto" width="300"
                         height="300">
                </div>
            </div>
        </div>
    </div>

    <h1 class="text-center text-black text-4xl font-bold mt-5 mb-4">Reservar servicios</h1>

    <div class="mx-auto container">
        <div class="flex flex-col md:flex-row justify-between gap-4">
            <!-- Buscar por nombre de empresa -->
            <mat-form-field class="md:w-1/2" color="accent">
                <mat-label for="companyName">Buscar...</mat-label>
                <input matInput [(ngModel)]="manualCompanyName" (keyup)="searchByCompanyName()" id="companyName">
            </mat-form-field>

            <!-- Buscar por servicios -->
            <mat-form-field>
                <mat-label for="services">Tipo de servicio</mat-label>
                <mat-select (selectionChange)="onServiceSelectionChange($event)" multiple>
                    <mat-option *ngFor="let service of servicesList" [value]="service"
                                id="services">{{ service }}</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Selector para elegir método de búsqueda -->
            <mat-form-field>
                <mat-label for="location">Ubicación</mat-label>
                <mat-select [(ngModel)]="searchMethod" (selectionChange)="searchByLocation()">
                    <mat-option value="userLocation" id="location">Mi Ubicación</mat-option>
                    <mat-option value="manualLocation" id="location">Ubicación Manual</mat-option>
                    <mat-option value="noFilter" id="location">Sin filtro</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Buscar por ubicacion -->
            <mat-form-field *ngIf="searchMethod === 'manualLocation'">
                <mat-label>Filtrar por ubicación Manual</mat-label>
                <input matInput [(ngModel)]="manualLocation" (keyup)="searchByLocation()">
            </mat-form-field>
        </div>

        <div class="overflow-scroll md:overflow-auto">
            <table mat-table [dataSource]="dataSource_company">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Empresa</th>
                    <td class="cursor-pointer" mat-cell *matCellDef="let element">
                        <span class="flex flex-col md:flex-row items-center gap-3">
                            <img src="{{element.logo}}" alt="company" width="100" height="100">
                            {{element.name}}
                        </span>
                    </td>
                </ng-container>

                <!-- Services Column -->
                <ng-container matColumnDef="services">
                    <th mat-header-cell *matHeaderCellDef>Servicios</th>
                    <td class="cursor-pointer" mat-cell *matCellDef="let element">
                        <span *ngFor="let servicio of element.servicios">{{ servicio.name }}, </span>
                    </td>
                </ng-container>

                <!-- Location Column -->
                <ng-container matColumnDef="location">
                    <th mat-header-cell *matHeaderCellDef>Ubicación</th>
                    <td class="cursor-pointer" mat-cell *matCellDef="let element"> {{element.direction}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                    [ngClass]="row.hasMembership ? 'golden-background' : 'default-background'"
                    (click)="getRow(row)"></tr>
            </table>
        </div>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
    </div>
</div>
