
input[type="text"],
input[type="password"],
input[type="email"],
select {
    border: 2px solid #DBDBDB;
    border-radius: 5px;
}

.error-messages {
    color: #ff0000;
    font-weight: bold;
    margin-top: 10px;
}

